root = true

[*]
indent_style             = space
indent_size              = 4
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true

[*.{csproj,sln,props,targets}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.cs]
# Organização de usings
dotnet_sort_system_directives_first                                        = true
dotnet_separate_import_directive_groups                                    = false

# Preferências de estilo
csharp_style_var_for_built_in_types                                        = false:suggestion
csharp_style_var_when_type_is_apparent                                     = true:suggestion
csharp_prefer_braces                                                       = true:warning
csharp_style_expression_bodied_methods                                     = when_on_single_line:suggestion

# Convenções de nomenclatura
dotnet_naming_rule.private_fields_should_be_camel_case.symbols             = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style               = camel_case_underscore
dotnet_naming_rule.private_fields_should_be_camel_case.severity            = suggestion
dotnet_naming_symbols.private_fields.applicable_kinds                      = field
dotnet_naming_symbols.private_fields.applicable_accessibilities            = private
dotnet_naming_style.camel_case_underscore.capitalization                   = camel_case
dotnet_naming_style.camel_case_underscore.required_prefix                  = _
